 .card {
  flex: 1 1 300px;
  background-color: var(--bkg);
  box-shadow: 2px 2px 40px var(--muted);
  padding: var(--space-lg);
  border-radius: var(--round-lg);
  max-width: var(--content);
}

.description {
  max-width: var(--content);
}

.image {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16/12;
  object-fit: cover;
  border-radius: var(--round-md);
}
