#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

/*@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
} */

a, .a {
  font-weight: 500;
  color: var(--primary-main);
  text-decoration: inherit;
 cursor: pointer;
}
a:hover, .a:hover {
  color: var(--primary-dark);
}

.container {
  border: 1px solid var(--text);
  border-radius: var(--round-lg);
  margin: 20px;
  padding: 40px;
}
