*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: Inter, Avenir, Helvetica, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* fonts */
  --fs-200: 14px;
  --fs-300: 20px;
  --fs-400: 22px;
  --fs-500: 32px;
  --lh-1: 1;
  --lh-1-1: 1.1;
  --lh-1-4: 1.4;

  /* colors */
  --bkg-light: #ffffff;
  --bkg-dark: #242424;
  --muted: #cccccc;
  --text-light: #1a1a1a;
  --text-dark: #f9f9f9;
  --warning:#ffaa00;
  --primary-main: #646cff;
  --primary-dark: #535bf2;
  --box-shadow-light: #004373;
  --box-shadow-dark: #d5b5e8;


  /* utils */
  --space-sm: clamp(0.4rem, 1.5vw, 0.8rem);
  --space-md: clamp(1rem, 2.5vw, 1.4rem);
  --space-lg: clamp(2rem, 4vw, 2.2rem);
  --content: 50ch;
  --round-sm: 4px;
  --round-md: 10px;
  --round-lg: 15px;
  --round-full: 100vmax;
}

html[data-theme="dark"]{
    --bkg: var(--bkg-dark);
    --text: var(--text-dark);
    --box-shadow: var(--box-shadow-dark)
}

html[data-theme="light"]{
    --bkg: var(--bkg-light);
    --text: var(--text-light);
    --box-shadow: var(--box-shadow-light)
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--text);
    background-color:var(--bkg);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: var(--text);
    background-color:var(--bkg);
}


body {
  display: grid;
 /* place-items: center;*/
  min-height: 100vh;
  min-width: 320px;
  font-size: var(--fs-400);
  line-height: var(--lh-1-4);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: var(--lh-1-1);
}

small {
  font-size: var(--fs-200);
  line-height: var(--lh-1);
}

.uppercase {
  text-transform: uppercase;
}

.stack-lg {
  display: grid;
  gap: var(--space-lg);
}

.stack-md {
  display: grid;
  gap: var(--space-md);
}

.stack-sm {
  display: grid;
  gap: var(--space-sm);
}
